:root {
  --bg: #fff;
  --fg: #000;
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  font-family: var(--font-inter), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}

.font-head {
  font-family: var(--font-league), system-ui, -apple-system, Segoe UI, Roboto,
    Arial, sans-serif;
}